{% extends "base.html" %}
{% load static %}

{% block title %}
            My Wishlist
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}">{{ item.item }}</a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> My Wishlist</h1>
<table class="table">


    {% for wish in wishlist %}
    <tr>
        <td align="center">
            <img src="{% if book.picture %}
                        {% static book.pic_path %}
                      {% else %}
                         {% static 'logo.jpg' %}
                        {% endif %}" width="100" height="100" />
        </td>
        <td align="center"><b>
            <a href="book_detail/{{ wish.id }}">
               {{ wish.name }}
            </a></b>
        </td>

        <td align="center">
            {{ wish.web }}
        </td>
        <td align="center">
           <b>${{ wish.price }}</b>
        </td>
        <td>
            <a href="wishlist_delete/{{ wish.id }}" class="btn btn-danger">delete</a>
        </td>





    </tr>
    {% endfor %}

</table>
{% endblock content%}